.games {
    display: grid;

    img {
        height: 100%;
        width: 100%;
    }
}

.logos {
    display: grid;
    gap: 0.5rem;
}
@media (min-width: 768px) {
    .games {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .logos {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    
}

@media (max-width: 768px) {
    .games {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
    .logos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}