@use 'sass:color';

@mixin befaft {
    position: absolute;
    font-size: 3rem;
    opacity: 10%;
    color: black;
    pointer-events: none;
}

@mixin flexCenter($direction: column) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}



@mixin label($fromClr, $name) {
    height: 108px;
    position: relative;
    background: linear-gradient($fromClr, color.scale($fromClr, $lightness: -50%));
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: black 0px 0px 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;

    &::after {
        content: "/>";
        right: 5%;
        @include befaft()
    }

    &::before {
        content: $name;
        left: 5%;
        @include befaft()
    }
}
@mixin description($color) {
    margin-top: 1rem;
    border: 2px solid $color;
    box-shadow: 0 0 50px $color, inset 0 0 50px $color;
    padding: 1rem;
}
@mixin button($color, $color2: white) {
    border-color: $color;
    color: $color;
    &:hover {
        background-color: $color;
        color: $color2;
        box-shadow: 0 0 50px $color;
    }
}
@mixin popup($color: $neonpink) {
    background-color: $color;
    border-radius: 1rem;
    padding: 1rem;
    position: fixed;
    top: 10vh;
    left: 50vw;
}