.carousel {
    position: relative;
    overflow-x: hidden;
    display: flex;
    height: 50vh;
    img {
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
    }
}
.current {
    left: 25%;
    
}
.previous {
    left: -25%;
}
.next {
    left: 75%;
}
@media (max-width: 768px) {
    .carousel {
        height: 15vh;
    }
}