.carousel {
    position: relative;
    overflow-x: hidden;
    display: flex;
    height: 50vh;
    img {
        width: 50%;
        height: 100%;
        position: absolute;
        
    }
}

@media (max-width: 768px) {
    .carousel {
        height: 25vh;
        img {
            width: 100%;
            left: 50vw
        }

    }
}
@media (min-width: 768px) {
    .carousel {
        img {
            right: 0;
        }
    }
}