@import '_mixins', '_variables';

.container {
    background: #141b26;
    min-height: 100vh;
    padding-bottom: 1rem;
}

.tile {
    border-radius: 1rem;
    background-color: aliceblue;
}

.buttonDiv {
    @include flexCenter(row);
    gap: 1rem;
    color: black;

    .tile {
        @include flexCenter();
        height: 10rem;
        width: 10rem;
    }
}

.panel {
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #00ff00;
    box-shadow: inset 0 0 20px #00c3ff, 0 0 20px #00c3ff;

    >div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 8rem;
        }
    }
}

.main {
    display: flex;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;

    button {
        margin-left: 0.5rem;
        min-width: 4rem;
    }

    &.r0 {
        background-color: #000000;
    }

    &.r1 {
        background-color: #c54e4e;
    }

    &.r2 {
        background-color: #28c287;
    }
}

.h1 {
    font-weight: bold;
    font-size: 2em;
    @include label(#00c3ff, '<');
    margin-top: 0;
}

.change {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    .img {
        width: 25%;
        img {
            width: 90%;
        }
    }
    form {
        margin: 0% auto;
        display: flex;
        flex-direction: column;
        width: 50%;
        button {
            width: 87%;
            align-self: flex-end;
        }
        >div {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            input, select, textarea {
                height: 2.5rem;
                margin-left: 0.5rem;
                flex: 7;
            }
            textarea {
                height: 15rem;
            }

            label {
                text-align: right;
                flex: 1;
            }
        }
        .checkboxes {
            display: flex;
            flex-wrap: wrap;
            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 2rem;
                input {
                    height: 2.5rem;
                    flex: 0;
                }
            }
        }
        .challenge {
            width: calc(7/8 * 100%);
            align-self: flex-end
        }
    }
}
.errors {
    @include popup($clrDanger);
}
.backBtn {
    position: absolute;
    left: 35%;
    @include button(#db3737);
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .panel {
        min-width: 30rem;
        flex: 1;
    }
    .main {
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 0 5rem;
    }
}

@media (max-width: 768px) {
    .main {
        align-items: center;
        flex-direction: column;
    }
    .panel {
        width: 95%;
    }
}