@use "sass:color";
@import '_variables', '_nav', '_mixins';

:root {
    font-size: 16px;
    --primaryClr: whitesmoke;
    --neonpink: #f0f;
    --neonblue: #00c3ff;
    --neongreen: springgreen;
}

html,
body {
    background-color: #070a0f;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--primaryClr);
}

img {
    aspect-ratio: initial;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

svg {
    height: 2rem;
    width: 2rem;
}

.hero {
    @include flexCenter();
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0.3;
        z-index: 1;
    }

    h1 {
        position: absolute;
        z-index: 2;
        color: white;
        font-size: 4.25rem;
        font-family: 'Press Start 2P', cursive;
    }
}

button {
    height: 2.5rem;
    background: none;
    border-style: solid;
    border-width: 2px;
    transition: all 200ms ease;

    &.danger {
        @include button($clrDanger)
    }

    &.info {
        @include button($clrInfo)
    }

    &.add {
        @include button(#00ff00, black)
    }

    &:disabled {
        background-color: gray;

        &:hover {
            box-shadow: none;
            background-color: gray;
            color: red
        }
    }
}

.label-header {
    @include label($neonyellow, '<header')
}

.tags {
    display: flex;
    align-items: center;

    >div {
        background-color: #00f7ff;
        color: black;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        margin-right: 1rem;
        padding: 0.5rem;
        white-space: nowrap;

        svg {
            height: unset;
            width: auto;

            &:hover {
                color: aliceblue;
            }
        }
    }
}

.popup {
    @include popup()
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2c3e50;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

    &:hover {
        background: #555;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 12px;
    }

    main {
        margin-bottom: 5rem;
    }

    .hero {
        height: 25vh;

        h1 {
            font-size: initial;
        }
    }

    .tags {
        flex-direction: row;
        // flex-wrap: wrap;

        >div {
            width: fit-content;
        }
    }
}

@media (min-width: 768px) {
    main {
        margin-left: 5rem;
    }

    .tags {
        flex-wrap: wrap;
        justify-content: center;
    }
}