@import 'variables', '_mixins', '_grids';

.h1 {
    z-index: 2;
    color: white;
    font-size: 4.25rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

$list: 1 white,
    2 $neonpink,
    3 $neonblue,
    4 $neongreen;

@each $idx,
$color in $list {
    .h1 span:nth-child(#{$idx}) {
        color: $color;
        text-shadow: 0px 0px 50px $color;
    }
}

.tile {
    height: 150px;
    background-color: aliceblue;
    border-radius: 1rem;
    @include flexCenter();
    transition: background-color 200ms ease;

    &:hover {
        background-color: lavender;
    }

    a {
        @include flexCenter();
        height: inherit;
        width: inherit;
    }

    img {
        max-height: 50%;
        max-width: 80%;
    }
}

.header {
    @include flexCenter;
    position: relative;
    height: 108px;
    color: $neonyellow;
    border-radius: 10px;
    margin: 1rem 0;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    .line {
        position: absolute;
        justify-self: center;
        border: 1px solid $neonyellow;
        width: 100%;
        z-index: 1;
        box-shadow: 0 0 50px $neonyellow;
    }
    h2 {
        background-color: #070a0f;
        z-index: 2;
        width: fit-content;
        align-self: center;
        padding: 0 1rem;
        color: $neonyellow;
        font-size: 3rem;
        text-shadow: 0 0 50px $neonyellow;
    }
}

@media (max-width: 768px) {
    .h1 {
        font-size: initial;
    }
    .games {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
    .logos {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}